<div id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h4>Contact Us</h4>
                <p>
                    <i class="fa fa-home" aria-hidden="true"></i> No 64 Isheri Road Ogba-Ikeja, Lagos State, Nigeria</p>
                <p>
                    <i class="fa fa-envelope" aria-hidden="true"></i> knowt@info.com</p>
                <p>
                    <i class="fa fa-phone" aria-hidden="true"></i> +2348139585943</p>
                <p>
                    <i class="fa fa-globe" aria-hidden="true"></i> www.knowt.com</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h4>About</h4>
                <p>
                    <i class="about fa fa-square-o" aria-hidden="true"></i>
                    <a href="#"> Privacy</a>
                </p>
                <p>
                    <i class="about fa fa-square-o" aria-hidden="true"></i>
                    <a href="#"> Terms & Condition</a>
                </p>
                <p>
                    <i class="about fa fa-square-o" aria-hidden="true"></i>
                    <a href="#"> FAQ</a>
                </p>
                <p>
                    <i class="about fa fa-square-o" aria-hidden="true"></i>
                    <a href="#"> Feedback</a>
                </p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h4>Stay in touch</h4>
                <a href="#">
                    <i class="social fab fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="#">
                    <i class="social fab fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="#">
                    <i class="social fab fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="#">
                    <i class="social fab fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="#">
                    <i class="social fab fa-youtube" aria-hidden="true"></i>
                </a>
                <br>
                <input type="email" placeholder="Subscribe for Newsletter">
                <button class="btn btn-success">Subscribe</button>
            </div>
        </div>
        <div class="foot">
            <hr>
            <p>Copywrite©2018
                <br>Powered by Niexson™</p>
        </div>
    </div>
</div>

<!--    End footer-->